[Desktop Entry]
Name=Netcat Chat - Server
Name[en_GB]=Netcat Chat - Server
Comment=Open the Netcat Chat window and start a server
Type=Application
Path=
Exec=bash -c '. ~/.bashrc-user; src -F functions:ncc && ncc -l "$ncc__default_server_in_port" "$ncc__default_server_out_port"'
Icon=ncc
Terminal=false
StartupNotify=false
