[Desktop Entry]
Name=Netcat Chat - Client
Name[en_GB]=Netcat Chat - Client
Comment=Open the Netcat Chat window and connect to the server
Type=Application
Path=
Exec=bash -c '. ~/.bashrc-user; src -F functions:ncc && ncc -c "$ncc__default_address" "$ncc__default_client_in_port" "$ncc__default_client_out_port"'
Icon=ncc
Terminal=false
StartupNotify=false
