[Desktop Entry]
Name=Netcat Chat - Hide
Name[en_GB]=Netcat Chat - Hide
Comment=Toggle the display of the Netcat Chat window
Type=Application
Path=
Exec=bash -c 'for hex in $(wmctrl -l | grep -E "Netcat Chat" | cut -d " " -f 1); do xdotool windowminimize $hex; done'
Icon=ncc
Terminal=false
StartupNotify=false
